$minBodyHeight:40em;
$lineMargin:4em;
.articles-container {
    overflow:hidden;
  .preview-header {
    display: flex;
    .author-container {
      display: "inline-block";
      .author-block {
        display: block;
        text-align: left;
        margin-left: 10px;
      }
    }
    .avatar{
      width: 2em;
      height: 2em;
      align-self: center;
    }
  }
  a:hover {
    text-decoration: none;
    color:inherit;
  }
  a{
      color: inherit;
  }
  .line{
      margin-top: $lineMargin;
  }
}
.article-body {
    min-height: $minBodyHeight;
    text-align: justify;
    word-wrap: break-word;
}
